@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&family=Delicious+Handrawn&display=swap');

.slider{
    margin: 10px;
    height: 80vh;
    width: 98%;
    box-shadow: 2px 2px 20px black;
    border-radius: 10px;
    z-index: 99;
}
.head1{
    position: absolute;
    top: 30vh;
    left: 30vh;
    font-weight: 700;
    font-family: 'Alkatra', cursive;
    z-index: 100;
}
.main1{
    display: flex;
    flex-direction: column;
}
.cardDetails1{
    display: flex;
}
.search1{
    padding: 0.8rem;
    margin:5vh 40vh;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    height: 9vh;
    width: 140vh;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.648);
    box-shadow: 2px 2px 20px black;
    position: absolute;
    top: 70vh;
    color: aliceblue;
    z-index: 100;
}
.search1 input{
    font-size: 1rem;
    border-radius: 5px;
    height: 2rem;
    width: 30vh;
    border: none;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.right1 {
    margin-top: 20vh;
    margin-right: 10vh;
    position: fixed;
    top: 30px;
    right: 0;
    height: 100%;
  }

  .submit{
    background-color: rgba(255, 255, 255, 0.441);
        border: none;
        border-radius: 20px;
        width: 60px;
  }
  @media screen and (max-width: 500px) {
    .slider {
        width: 100%;
        
    }
    .main1{
        height: auto;
        width: auto;
        margin-right: 20px;
    }
    .head1 {
        left: 10vh;
    }
    .search1 {
       height:300px;
        width: 30vh;
      margin-left: 80px;  
        display: grid;
       padding: 40px;
       top: 40vh;
       
    }
    .submit{
        margin-left: 10px;
        
    }

    .search1 input {
        width: 10vh;
    }

    .right1 {
        margin-right: 5vh;
    }

}