.err{
    margin: 20vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
@media screen and  (max-width: 830px) {
    .err {
      margin: 10vh;
      display: block;
      text-align: center;
    }
  }