.feedback {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 5vh;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.429);
    border-radius: 10px;
    box-shadow: 2px 2px 40px black;

  }
  
  .feedback h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
  }
  
  .form-group textarea {
    height: 150px;
  }
  
  button[type='submit'] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type='submit']:hover {
    background-color: #45a049;
  }
  @media (max-width: 830px) {
    .feedback {
      margin-top: 10px;
      
    }
  }