/* Default styles */
.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    background:transparent;
    backdrop-filter: blur(15px);
    height: 70px;
    box-shadow: 0 2px 44px rgba(0, 0, 0, 0.637);
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    height: 70px;
    width: 50px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }
  
  .nav-item {
    margin-right: 1rem;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  
  .nav-item a {
    display: inline-block;
    padding: 0.5rem;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .nav-item a:hover {
    color: #555;

  }
  
  .active {
    font-weight: bold;
    border-bottom: 2px solid #333;
  }

    h1{
    font-size: 2.5rem;
    margin: 0;
    padding: 0;  }
  /* Media queries for responsive styles */
  @media screen and (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-menu {
      margin-top: 1rem;
    }
  
    .nav-item {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  
    .nav-item:last-child {
      margin-bottom: 0;
    }
  
    .nav-item a {
      display: block;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      background-color: #f0f0f0;
      color: #333;
      transition: all 0.3s ease;
    }
  
    .nav-item a:hover {
      background-color: #e0e0e0;

    }
  
    .active {
      border-bottom: none;
      
    }
  }

  