header{
    width: 100vw;
    min-height: 100vh;
    background-image: url("https://cdn.dribbble.com/users/1783374/screenshots/10100442/media/4df7930409799fc4302f6dad3f1a6f90.gif") ;
    background-size: cover;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container1{
    box-shadow: 2px 2px 40px black;
    margin: 2rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.486);
    width: 650px;
    height: 400px;
    display: grid;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 1.5rem;
}
