.right{
    margin: 1rem 5rem;
    background-color: rgba(240, 248, 255, 0.461);
    height: 100vh;
    width: 180vh;
    border-radius: 10px;
    box-shadow: 2px 2px 40px black;
    padding: 2rem;
}
.h{
    margin-top: 15vh;
    margin-left: 20vh;
    font-family: cursive;
    font-weight: 700;
}
@media (max-width: 830px) {
    .right {
      margin: 0.3rem 2rem;
      width: 100vw;
      margin-left: 4px;
    }
    
    .h {
      margin-top: 5vh;
      margin-left: 5vh;
    }
  }